<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">


    <section layout:fragment="content">

        <div class="p-5">
            <table class="table table-bordered table-light border rounded">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Последняя проверка</th>
                        <th scope="col">Код ответа</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="url : ${urls}" th:object="${url}">
                        <th th:text="*{id}"></th>
                        <td>
                            <a th:text="*{name}" th:href="@{/urls/{id}(id=*{id})}"></a>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="p-3">
            <nav aria-label="Пример навигации по страницам">
                <ul class="pagination justify-content-center">
                    <li th:if="${page > 1}" class="page-item">
                        <a class="page-link"  th:href="@{/urls?page={page}(page=*{page - 1})}"  >Предыдущая</a>
                    </li>
                    <li class="page-item">
                        <u class="text-primary">
                            <a class="page-link" th:href="@{/urls?page={page}(page=*{page})}" th:text="*{page}"></a>
                        </u>
                    </li>
                    <li class="page-item"><a class="page-link" th:href="@{/urls?page={page}(page=*{page + 1})}" th:text="*{page + 1}"></a></li>
                    <li class="page-item"><a class="page-link" th:href="@{/urls?page={page}(page=*{page + 2})}" th:text="*{page + 2}"></a></li>
                    <li class="page-item"><a class="page-link" th:href="@{/urls?page={page}(page=*{page + 2})}">Следующая</a></li>
                </ul>
            </nav>
        </div>

    </section>


</html>