<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">


    <section layout:fragment="content">


        <div class="p-5">
            <h3 class="text-center" th:text="'Сайт: ' + *{url.getName}"></h3>

            <div class="p-2">
                <table class="table table-bordered table-light border rounded">
                    <tbody>
                        <tr>
                            <th scope="col">ID</th>
                            <td th:text="*{url.getId()}"></td>
                        </tr>
                        <tr>
                            <th scope="col">Имя</th>
                            <td th:text="*{url.getName()}"></td>
                        </tr>
                        <tr>
                            <th scope="col">Дата создания</th>
                            <td th:text="*{url.createdAtToFormat()}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="p-2">
                <h3>Проверки:</h3>

                <div>
                    <form th:action="*{url.getId() + '/checks'}" method="POST">
                        <button style="background-color: rgb(98, 170, 187)" type="submit" class="btn text-white">Запустить анализ!</button>
                    </form>
                </div>

            </div>

            <div class="p-2">
                <table class="table table-bordered table-light border rounded">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Код ответа</th>
                            <th scope="col">title</th>
                            <th scope="col">h1</th>
                            <th scope="col">description</th>
                            <th scope="col">Дата проверки</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="check : ${checks}" th:object="${check}">
                            <th th:text="*{id}"></th>
                            <td th:text="*{statusCode}"></td>
                            <td th:text="*{(title != '') ? title : '-'}"></td>
                            <td th:text="*{(h1 != '') ? h1 : '-'}"></td>
                            <td th:text="*{(description != '') ? description : '-'}"></td>
                             <td th:text="*{createdAtToFormat}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>


</html>